* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hero {
  position: absolute;
  height: 602px;
  width: 320px;
  left: 0;
  top: 75px;
  background-image: url(./Assets/backgroundoption.jpg);
  background-size: 105vw;
  background-repeat: no-repeat;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  padding: 0.7rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.fa-bars {
  font-size: 1rem;
}

.aboutme {
  padding-top: 3rem;
  padding-left: 0.7rem;
}

.aboutme h1 {
  padding-top: 3rem;
  font-size: 2.1rem;
  font-weight: 800;
  line-height: 2.5rem;
}

.aboutme p {
  padding-top: 1rem;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.connect-btn {
  display: flex;
  margin: 10px 0;
  width: 100%;
  color: #3567fd;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.socials a {
  margin-right: 10px;
}
