@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  background-color: #f7f7f9;
}

.desktop {
  display: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vw;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.text li {
  margin-right: 0.3rem;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.socials li {
  text-decoration: none;
  display: inline-block;
  flex-direction: row;
  margin-right: 14px;
}

.socials-2 li {
  text-decoration: none;
  display: inline-block;
  flex-direction: row;
  margin-right: 8px;
  margin-left: 14px;
}

.text ul {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-top: 1rem;
  list-style: none;
}

.close-icon {
  display: none;
  position: fixed;
  top: 8.5px;
  right: 2rem;
  height: 31px;
  width: 24px;
}

.close-menu {
  display: none;
  position: fixed;
  top: 8.5px;
  right: 2rem;
  height: 31px;
  width: 24px;
}

.show {
  display: flex;
  text-decoration: none;
  font-size: 1rem;
}

.hide {
  display: none;
}

.buttons.active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  background-color: rgba(50, 70, 255, 0.8);
  backdrop-filter: blur(4px);
  align-items: flex-start;
  justify-content: flex-start;
}

.buttons ul {
  display: none;
}

.btn a {
  text-decoration: none;
  color: #6070ff;
  margin-right: 0.5rem;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.container a {
  text-decoration: none;
  color: #396df2;
  background: none;
  cursor: pointer;
  border: solid;
  margin-left: 0.2rem;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.about a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.lang li {
  list-style: none;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 9px 12px;
  gap: 5%;
  background-color: #f7f7f9;
  border-radius: 15px;
  width: 100%;
  margin: 5px;
}

.socials-2 li:hover {
  transition: 2s;
}

.socials li:hover {
  transition: 2s;
}

.buttons.active ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 2rem;
  margin-left: 0.3rem;
}

.buttons.active ul li {
  margin: 1rem 0;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
}

.container a:hover {
  background-color: #6070ff;
  color: #fff;
}

.container a:active {
  background-color: #2230d2;
}

.container a:disabled {
  background-color: #c1c7d0;
  color: #c1c7d0;
}

.buttons.active ul a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
}

.fa-xmark {
  font-size: 1.3rem;
  color: #67798e;
}

.buttons.active .fa-xmark {
  color: #fff;
  font-size: 1.5rem;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 1rem;
  padding-left: 0.3rem;
  animation-name: Spin;
  animation-duration: 5s;
}

@keyframes Spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.fa-solid {
  font-size: 1rem;
  padding: 1rem;
  position: relative;
  color: #6070ff;
}

.hero {
  height: 81vh;
  width: 100%;
  top: 30px;
  background-image: url(./Assets/backgroundoption.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position-y: -4vw;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom-left-radius: 4rem;
  background-color: #fff;
}

.aboutme {
  padding-top: 2vw;
  padding-left: 4vw;
  box-sizing: border-box;
  width: fit-content;
}

.aboutme h1 {
  font-style: normal;
  padding-top: 3vw;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  width: 85%;
}

.aboutme p {
  padding-top: 3vw;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 90%;
}

.connect-btn {
  display: flex;
  margin: 10px 0;
  width: 100%;
  color: #7f8cff;
  font-weight: 500;
  font-size: 4.5vw;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.card {
  display: grid;
}

#page-2 {
  display: grid;
  width: 90%;
  height: 84%;
  margin: 5rem auto;
}

.wrapper {
  background-color: #fff;
  border-radius: 1rem;
}

.img img {
  width: 90%;
  margin: 0.9rem 0.9rem;
}

.desk-img {
  display: none;
}

.text {
  padding-left: 0.7rem;
}

.text ul li::before {
  content: "•";
  font-size: 170%;
  padding-right: 5px;
  vertical-align: top;
  color: #c1c7d0;
  width: 8px;
  height: 8px;
}

.text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.text h5 {
  margin-right: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 16px;
  color: #344563;
}

.text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 1rem auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #344563;
}

.btn {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding-left: 0.3rem;
  justify-content: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  list-style: none;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 13px;
  width: 57px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  margin-left: 0.3rem;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 14px;
  width: 49px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  width: 92px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.container {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin-left: 0.5rem;
  padding-top: 1.5rem;
}

.deskh5-3 {
  display: none;
}

.deskli-3 {
  display: none;
}

#deskbtn-3 {
  display: none;
}

.deskp {
  display: none;
}

#desktext4 {
  display: none;
}

#deskh5-4 {
  display: none;
}

#deskli-4 {
  display: none;
}

#deskp-4 {
  display: none;
}

#deskbtn-4 {
  display: none;
}

#deskh3-5 {
  display: none;
}

#deskh5-5 {
  display: none;
}

.deskli-5 {
  display: none;
}

.deskp-5 {
  display: none;
}

#deskbtn-5 {
  display: none;
}

.aboutmyself {
  position: relative;
  height: 140vh;
  width: 100%;
  background-size: 100vw;
  display: flex;
  justify-content: left;
  align-items: center;
  border-top-right-radius: 4rem;
  background-color: #fff;
  margin-top: 5rem;
}

.about {
  padding-left: 5vw;
  box-sizing: border-box;
  width: fit-content;
}

.about h1 {
  font-style: normal;
  padding-top: 3vw;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.about p {
  padding-top: 3vw;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 90%;
}

.container-2 {
  font-size: 17px;
  line-height: 24px;
  padding-top: 1.5rem;
}

.work {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px;
}

.work h3 {
  margin-top: 50px;
  margin-left: 14px;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.work i {
  padding-top: 54px;
  color: #000;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 94%;
}

.lang p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.works {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px;
  border-color: #dfe1e6;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 327px;
  height: 70px;
}

.works h3 {
  margin-top: 20px;
  margin-left: 14px;
  height: 60px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.works i {
  padding-top: 24px;
  color: #000;
}

.formsection {
  background-color: white;
  margin: 0;
  padding: 20% 0 0 0;
}

.outer {
  width: 100vw;
  background: #fff;
  background-color: #6070ff;
  border-radius: 70px 0 0 0;
  background-size: 100vw;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  gap: 18px;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

#contact-img {
  position: absolute;
  align-self: self-end;
  margin: 0%;
  padding: 0%;
}

.heading-2 {
  padding-top: 30px;
  font-size: 25px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  margin: 30% 0 0 0;
  align-self: unset;
  color: #fff;
}

.contact-form-description {
  text-align: center;
  max-width: 569px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  margin: 0 5% 40px 5%;
}

.contact-box {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
}

#name {
  width: 327px;
  height: 48px;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}

#name::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

#email {
  width: 327px;
  height: 48px;
  padding: 0.5rem 1rem;
  outline: none;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 18px;
}

#email::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

#message {
  width: 327px;
  height: 170px;
  padding: 0.5rem 1rem;
  outline: none;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 18px;
}

#message::placeholder {
  color: #b3bac5;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.btn-0 {
  top: 50%;
  padding: 15px;
  border-radius: 8px;
  color: #6070ff;
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 142px;
  height: 48px;
  left: 24px;
  border-style: none;
  letter-spacing: 0.03em;
  margin-bottom: 25%;
}

.error-message {
  display: none;
  color: rgb(230, 89, 89);
  font-size: 17px;
}

.formsectio {
  background-image: url(Assets/Ellipse\ 12.svg);
}

.popup-page {
  background: rgba(75, 88, 105, 0.25);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: grid;
  place-items: center;
  overflow: auto;
  padding: 1em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

#wrapper-L {
  background-color: #fff;
  border-radius: 1rem;
  height: 100%;
}

#img img {
  width: 90%;
  margin: 0.9rem 1rem;
}

#text-L h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-left: 0.9rem;
  margin-top: 1rem;
}

#text-L h5 {
  margin-right: 0.5rem;
  margin-left: 0.9rem;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

#wrapper-L p {
  font-weight: 400;
  font-size: 15px;
  line-height: 2px;
  margin: 1rem auto;
  margin-top: auto;
  margin-bottom: 0.5rem;
  color: #344563;
}

#text-L ul {
  display: flex;
  margin-top: 1rem;
  list-style: none;
}

#text-L li {
  margin-right: 0.3rem;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

#text-L ul li::before {
  content: "•";
  font-size: 170%;
  padding-right: 10px;
  vertical-align: top;
  color: #c1c7d0;
  width: 8px;
  height: 8px;
}

#btn {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  padding-left: 0.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.9rem;
  margin-left: 0.4rem;
  list-style: none;
}

#btn a {
  text-decoration: none;
  color: #6070ff;
  margin-right: 0.5rem;
  font-weight: 500;
}

#popup-page p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-left: 0.9rem;
  margin-right: 0.9rem;
  color: #344563;
}

#go-live {
  box-sizing: border-box;
  border-bottom: 0;
  border-color: #ebecf0;
  border-style: solid;
  width: 90%;
  border-left: 0;
  border-right: 0;
  margin-left: 0.9rem;
  padding-top: 2rem;
}

#go-live a {
  border: 1px solid #6070ff;
  font-size: 15px;
}

.inner-live {
  padding: 0.8rem 1.7rem;
}

.inner-source {
  padding: 0.8rem 1rem;
}

#go-live img {
  margin-left: 0.5rem;
  width: 5%;
}

.close {
  float: right;
  margin: 0.7rem;
}

.pop {
  top: 0;
  background: #00aeff52;
  backdrop-filter: blur(25px);
  position: fixed;
  height: 100vh;
  left: 0;
  z-index: 1;
}

.error {
  display: none;
  transform: scale(0);
  transition: 0.5s ease-in-out;
  width: fit-content;
  color: white;
  font-size: 13px;
  background-color: rgba(214, 23, 23, 0.877);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.2em;
}

.error.active {
  display: block;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .logo {
    margin-left: 8rem;
    color: #6070ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  .fa-solid {
    display: none;
  }

  .hero {
    width: auto;
    height: auto;
    background-image: none;
    background-image: url(Assets/Header\ bg.jpg);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 20%;
    border-bottom-left-radius: 10rem;
  }

  .buttons {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
  }

  .lang li {
    align-items: start;
    display: flex;
    flex-direction: column;
  }

  .buttons > ul {
    display: flex;
    display: block;
    list-style: none;
    margin-right: 6rem;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .text li {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .buttons > ul > li {
    display: inline-block;
    gap: 8px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .buttons a {
    text-decoration: none;
    color: #344563;
  }

  .logo a {
    text-decoration: none;
    color: #6070ff;
  }

  .aboutme {
    margin-left: 18rem;
    margin-bottom: 15rem;
    padding: 0;
    box-sizing: border-box;
  }

  .aboutme h1 {
    margin-top: 14rem;
    font-style: normal;
    padding-top: 3%;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #172b4d;
    width: 40%;
  }

  .aboutme p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 77%;
    margin: 1rem 0;
    padding-top: 0;
  }

  .connect-btn {
    font-size: 16px;
    line-height: 24px;
  }

  .socials {
    margin-bottom: 4rem;
  }

  #page-2 {
    height: auto;
  }

  .img img {
    width: 100%;
    padding: 1rem;
    margin: 0;
  }

  .wrapper {
    width: 100%;
    border: solid 1px #dfe1e6;
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
  }

  .word {
    width: 50%;
  }

  .text {
    margin-top: 2rem;
  }

  .inverse {
    flex-direction: row-reverse;
  }

  .about p {
    padding-top: 1rem;
  }

  .lang p {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #textp-2 p {
    padding-top: 1rem;
  }

  .text h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .btn {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 12px;
  }

  .container {
    margin-top: 1.5rem;
    padding-left: 4px;
    font-weight: 500;
    font-size: 17px;
  }

  .html {
    margin-left: 4px;
  }

  .text .deskh5-3 {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .deskli-3 {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .deskp {
    display: block;
  }

  #mobh5-3 {
    display: none;
  }

  #mobli-3 {
    display: none;
  }

  #mobp-3 {
    display: none;
  }

  #btn-3 {
    display: none;
  }

  .ruby {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    white-space: nowrap;
  }

  #desktext4 {
    display: block;
  }

  .container-2 a {
    padding: 2%;
  }

  #container-4 a {
    background-color: #4053fc;
    color: #fff;
  }

  #container-4 a:hover {
    background-color: #6070ff;
    color: #fff;
  }

  #container-4 a:disabled {
    background-color: #c1c7d0;
    color: #c1c7d0;
  }

  #mobh5 {
    display: none;
  }

  .deskh5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .deskli {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  #mobli {
    display: none;
  }

  #mobp {
    display: none;
  }

  .socials-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .aboutmyself {
    height: fit-content;
  }

  .about {
    padding: 0;
    margin: 10%;
    gap: 5%;
    display: grid;
    grid-template-columns: 40% 60%;
    width: 90%;
  }

  .works {
    width: 100%;
  }

  .works i {
    display: block;
  }

  .lang {
    display: flex;
    flex-direction: row;
    width: 25rem;
  }

  .lang img {
    padding-top: 0.3rem;
  }

  .formsection {
    padding-top: 5rem;
  }

  .outer {
    background-image: url(Assets/new.png);
    display: flex;
    background-size: 90%;
    justify-content: center;
    background-position-y: center;
    background-position-x: center;
    align-items: center;
    width: auto;
  }

  .formsection img {
    display: none;
  }

  .heading-2 {
    margin-top: 5%;
    font-weight: 700;
  }

  .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .contact-form-description {
    margin-bottom: 1%;
    font-weight: 400;
  }

  .form {
    width: 100%;
  }

  #name {
    border-radius: 0;
    width: 30%;
  }

  #email {
    border-radius: 0;
    width: 30%;
  }

  #message {
    border-radius: 0;
    width: 30%;
  }

  .fullname {
    width: 100%;
  }

  .btn-0 {
    margin-bottom: 10%;
  }
}
